html {
    font-family: "Sans Serif";
    text-align: center;
    color: #f0f0ff;
    background-color: black;
}

body {
    background-color: #0a0a0a;
    width: fit-content;
    margin: auto;
    padding: 0 10px 1px 10px;
    max-width: 90%;
}

a, #heartrate {
    color: #8c64ddff;
}

noscript {
    color: red;
}
